<!-- footer -->
<nav id="footer" class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <p class="text-muted ml-auto">Weather Database Version <span app-version></span></p>
    </div>
</nav>
