<!-- modal search form dialog -->
<div ng-controller="NavBarController as navbarCtrl">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="http://weather.rpgnextgen.com"><span class="wi wi-day-sunny-overcast"></span> Weather Database</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" ng-ref="navbarCtrl.getCenterMap()">Recenter on Map</a></li>
                <li class="nav-item"><a class="nav-link" ng-ref="navbarCtrl.getHelpurl()">Help</a></li>
                <li class="nav-item"><a class="nav-link" ng-ref="navbarCtrl.showAbout()">About</a></li>
            </ul
        </div>
    </nav>
</div>
