/* app css stylesheet */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding-top: 50px;    /* navbar top */
    padding-bottom: 50px; /* navbar bottom */
}

/*
 * Angular UI Bootstrap CSS (necessary, see http://angular-ui.github.io/bootstrap/)
* .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
*/


/*
 *  Navigation Bar
 */


/*
 * Map
 */
.weather-map-container {
    height: 100%;
    width: 100%;
}

.angular-leaflet-map {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content {
    width: 350px !important;
}

.weather-popup-value {
    margin-left: 10px;
}

/*
 *  Footer
 */
#footer .container {
    text-align: center;
}

#footer .container .text-muted {
    margin: 20px 0;
}
